body {
  display: flex;
  align-items: center;
}

.profileBox {
  border: 5px solid black;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

.profileImg {
  border-radius: 50%;
  background-color: gray;
}

.profileTitle {
  font-size: 25px;
  font-weight: bold;
}

.profileText {
  color: gray;
}
.profileList {
  list-style: none;
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: center;
}
