.friendList {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.friendsListItem {
  list-style: none;
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}
